# Dots
venv
.obsidian
.stfolder

# Hidden
cwe-cruise
cwe-screener
cwe-pte-screener
usafa-scrimmage

# Testing
advent-of-code
binex_tuts
buckeye
bugbounty
cole-ellis
crackmes
ctfTemplate.tgz
cyber-red-zone
cyberx
defcon
hackthebox
hackthissite
hacktivitycon
hackwarz
hivestorm
idekctf
kitctf
koth
leetcode
maple-ctf
nahamcon
ncl-cyberskyline
ncx
nightmare
nsa-codebreakers
parson
pcdc
picoctf
ropemporium
securinets
shmoocon
space-heroes
tryhackme
